#grid{
    width: 200px;
    height: 150px;
    display: table;
    flex-wrap: wrap;
    box-sizing: border-box;
}
img{
    width: 200px;
    height: 150px;
    display: table-cell;
    flex-wrap: wrap;
}